:host {
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  text-align: center;
  margin-right: 15px;
}

.cell-right {
  text-align: right;
}

.mat-mdc-row:hover {
  background-color: lightgray !important;
  cursor: pointer;
}
