<div>
    <div class="header">
        <h2 class="title">Members</h2>
        <button mat-mini-fab color="accent" routerLink="/add-member">
            <mat-icon>add</mat-icon>
        </button>
    </div>
    <div class="header">
        <mat-form-field>
            <mat-label>Search by name</mat-label>
            <input matInput [(ngModel)]="nameFilter" (keyup)="filterMembers()">
            <button *ngIf="nameFilter" matSuffix mat-icon-button aria-label="Clear" (click)="clearSearch()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
        <mat-checkbox color="accent" [(ngModel)]="activeOnly" (change)="filterMembers()">Active only</mat-checkbox>
    </div>
    <div class="table-container">
        <table mat-table matSort [dataSource]="filteredMembers$ | async" (matSortChange)="sortMembers($event)">
            <ng-container matColumnDef="firstName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>First Name</th>
                <td mat-cell *matCellDef="let member">{{member.firstName}}</td>
            </ng-container>
            <ng-container matColumnDef="lastName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</th>
                <td mat-cell *matCellDef="let member">{{member.lastName}}</td>
            </ng-container>
            <ng-container matColumnDef="activeText">
                <th mat-header-cell *matHeaderCellDef>Status</th>
                <td mat-cell *matCellDef="let member">{{member.activeText}}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
            <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
        </table>
    </div>
</div>