<div id="profileContainer">
    <h2>Edit User Profile</h2>
    <form class="mt-2" [formGroup]="profileForm">
        <mat-form-field>
            <mat-label>Email Address</mat-label>
            <input matInput type="email" formControlName="email">
            <mat-error *ngIf="profileForm.controls.email.touched && profileForm.controls.email.invalid">
                A valid email address is requred.
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>New Password</mat-label>
            <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password">
            <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hidePassword">
                <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Confirm Password</mat-label>
            <input matInput [type]="hideConfirm ? 'password' : 'text'" formControlName="confirmPassword">
            <button mat-icon-button matSuffix (click)="hideConfirm = !hideConfirm" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hideConfirm">
                <mat-icon>{{hideConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
        <div class="mat-error mat-mdc-form-field-error mt-n2" *ngIf="profileForm.errors?.['mismatch']">
            Passwords do not match.
        </div>
        <div class="form-buttons">
            <button type="button" mat-raised-button color="accent" (click)="resetForm()">Reset</button>
            <button type="submit" mat-raised-button color="primary" [disabled]="profileForm.invalid"
                (click)="onSubmit()">Save</button>
        </div>
    </form>
</div>