rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAuthenticated() {
      return request.auth.uid != null;
    }

    function isAdmin() {
      return isAuthenticated() &&
      'admin' in request.auth.token &&
      request.auth.token.admin;
    }

    match /{document=**} {
      allow read: if isAuthenticated();
    }

    match /{document=**} {
      allow write: if isAdmin();
    }
  }
}
