<h1 mat-dialog-title>Edit Practice</h1>
<mat-dialog-content [formGroup]="editPracticeForm">
    <mat-form-field appearance="fill" class="datepicker">
        <mat-label>Practice Date</mat-label>
        <input matInput [min]="minDate" formControlName="practiceDate" [matDatepicker]="practiceDatePicker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="practiceDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #practiceDatePicker></mat-datepicker>
        <mat-error
            *ngIf="editPracticeForm.controls.practiceDate.touched && editPracticeForm.controls.practiceDate.invalid">
            *Required
        </mat-error>
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill" class="practice-topic">
        <mat-label>Practice Topic</mat-label>
        <input matInput formControlName="practiceTopic">
        <mat-error
            *ngIf="editPracticeForm.controls.practiceTopic.touched && editPracticeForm.controls.practiceTopic.invalid">
            *Required
        </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" floatLabel="always" class="number-field me-2">
        <mat-label>Practice Cost</mat-label>
        <input matInput formControlName="practiceCost" type="number" class="number-right">
        <span matTextPrefix>$</span>
        <mat-error
            *ngIf="editPracticeForm.controls.practiceCost.touched && editPracticeForm.controls.practiceCost.invalid">
            *Required
        </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" floatLabel="always" class="number-field me-2">
        <mat-label>Misc Expense</mat-label>
        <input matInput formControlName="miscExpense" type="number" class="number-right">
        <span matTextPrefix>$</span>
        <mat-error
            *ngIf="editPracticeForm.controls.miscExpense.touched && editPracticeForm.controls.miscExpense.invalid">
            *Required
        </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" floatLabel="always" class="number-field">
        <mat-label>Misc Revenue</mat-label>
        <input matInput formControlName="miscRevenue" type="number" class="number-right">
        <span matTextPrefix>$</span>
        <mat-error
            *ngIf="editPracticeForm.controls.miscRevenue.touched && editPracticeForm.controls.miscRevenue.invalid">
            *Required
        </mat-error>
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button color="accent" (click)="close()">Cancel</button>
    <button mat-raised-button color="primary" [disabled]="!editPracticeForm.valid" (click)="onSubmit()">
        Save
    </button>
</mat-dialog-actions>