<h5 class="mt-2">Change Default Prices/Costs</h5>
<form id="defaultsForm" class="mt-2" [formGroup]="editDefaultsForm">
    <mat-form-field floatLabel="always">
        <mat-label>Door Price</mat-label>
        <input matInput type="number" class="number-right" formControlName="doorPrice">
        <span matTextPrefix>$</span>
        <mat-error *ngIf="f.doorPrice.errors?.['required']">
            *Required
        </mat-error>
        <mat-error *ngIf="f.doorPrice.errors?.['min']">
            Door price cannot be negative
        </mat-error>
    </mat-form-field>
    <mat-form-field floatLabel="always">
        <mat-label>Punch Card Price</mat-label>
        <input matInput type="number" class="number-right" formControlName="punchCardPrice">
        <span matTextPrefix>$</span>
        <mat-error *ngIf="f.punchCardPrice.errors?.['required']">
            *Required
        </mat-error>
        <mat-error *ngIf="f.punchCardPrice.errors?.['min']">
            Punch card price cannot be negative
        </mat-error>
    </mat-form-field>
    <mat-form-field floatLabel="always">
        <mat-label>Practice Cost</mat-label>
        <input matInput type="number" class="number-right" formControlName="practiceCost">
        <span matTextPrefix>$</span>
        <mat-error *ngIf="f.practiceCost.errors?.['required']">
            *Required
        </mat-error>
        <mat-error *ngIf="f.practiceCost.errors?.['min']">
            Practice cost cannot be negative
        </mat-error>
    </mat-form-field>
    <div class="form-buttons">
        <button type="button" mat-raised-button color="accent" (click)="resetForm()">Reset</button>
        <button type="submit" mat-raised-button color="primary" (click)="onSubmit()">Save</button>
    </div>
</form>