<h1 mat-dialog-title>Add Punch Card</h1>
<mat-dialog-content [formGroup]="newPunchCardForm">
    <mat-form-field appearance="fill" color="primary" class="datepicker mb-3">
        <mat-label>Purchase Date</mat-label>
        <input matInput [min]="minDate" formControlName="purchaseDate" [matDatepicker]="purchaseDatePicker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="purchaseDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #purchaseDatePicker></mat-datepicker>
        <mat-error *ngIf="f.purchaseDate.errors?.['required']">
            *Required
        </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" floatLabel="always" class="number-field">
        <mat-label>Amount</mat-label>
        <input matInput formControlName="purchaseAmount" type="number" class="number-right">
        <span matTextPrefix>$</span>
        <mat-error *ngIf="f.purchaseAmount.errors?.['required']">
            *Required
        </mat-error>
        <mat-error *ngIf="f.purchaseAmount.errors?.['min']">
            Amount cannot be negative
        </mat-error>
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button color="accent" (click)="close()">Cancel</button>
    <button mat-raised-button color="primary" [disabled]="!newPunchCardForm.valid" (click)="onSubmit()">
        Save
    </button>
</mat-dialog-actions>