<mat-sidenav-container fullscreen>
  <mat-sidenav #start (click)="start.close()">
    <mat-nav-list *ngIf="user.isLoggedIn$ | async">
      <a mat-list-item routerLink="members">
        <mat-icon>groups</mat-icon>
        <span>Members</span>
      </a>
      <a mat-list-item routerLink="practices">
        <mat-icon>perm_contact_calendar</mat-icon>
        <span>Practices</span>
      </a>
      <ng-container *ngIf="(user.roles$ | async) let roles">
        <ng-container *ngIf="roles.admin">
          <a mat-list-item routerLink="/">
            <mat-icon>attach_money</mat-icon>
            <span>Finances</span>
          </a>
          <a mat-list-item routerLink="/">
            <mat-icon>settings</mat-icon>
            <span>Settings</span>
          </a>
        </ng-container>
      </ng-container>
      <a mat-list-item routerLink="/">
        <mat-icon>account_circle</mat-icon>
        <span>Profile</span>
      </a>
      <a mat-list-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Log Out</span>
      </a>
    </mat-nav-list>
    <mat-nav-list *ngIf="!(user.isLoggedIn$ | async)">
      <a mat-list-item routerLink="/">
        <mat-icon>account_circle</mat-icon>
        <span>Register</span>
      </a>
      <a mat-list-item routerLink="login">
        <mat-icon>login</mat-icon>
        <span>Log In</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-toolbar color="primary">
    <div class="toolbar-tools">
      <button mat-icon-button (click)="start.open('mouse')">
        <mat-icon>menu</mat-icon>
      </button>
      <span id="title">The Lindy Circle</span>
    </div>
  </mat-toolbar>
  <loading></loading>
  <router-outlet></router-outlet>
  <!-- <button mat-raised-button color="accent" type="button" (click)="onImportClick()">
    Import Data
  </button> -->
</mat-sidenav-container>