<div class="add-member">
    <h3>Add New Member</h3>
    <form [formGroup]="newMemberForm">
        <mat-form-field appearance="fill" color="primary">
            <mat-label>First name</mat-label>
            <input matInput formControlName="firstName">
            <mat-error
                *ngIf="newMemberForm.controls.firstName.touched && newMemberForm.controls.firstName.invalid">First name
                is required</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" color="primary">
            <mat-label>Last name</mat-label>
            <input matInput formControlName="lastName">
            <mat-error *ngIf="newMemberForm.controls.lastName.touched && newMemberForm.controls.lastName.invalid">Last
                name is required</mat-error>
        </mat-form-field>
        <button mat-raised-button color="accent" [disabled]="!newMemberForm.valid" (click)="onSubmit()">
            Add Member
        </button>
    </form>
</div>