<h1 mat-dialog-title>Add New Practice</h1>
<mat-dialog-content [formGroup]="newPracticeForm">
    <mat-form-field appearance="fill" class="datepicker">
        <mat-label>Practice Date</mat-label>
        <input matInput [min]="minDate" formControlName="practiceDate" [matDatepicker]="practiceDatePicker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="practiceDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #practiceDatePicker></mat-datepicker>
        <mat-error *ngIf="f.practiceDate.errors?.['required']">
            *Required
        </mat-error>
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill" class="practice-topic">
        <mat-label>Practice Topic</mat-label>
        <input matInput formControlName="practiceTopic">
        <mat-error *ngIf="f.practiceTopic.errors?.['required']">
            *Required
        </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" floatLabel="always" class="number-field me-2 mb-3">
        <mat-label>Practice Cost</mat-label>
        <input matInput formControlName="practiceCost" type="number" class="number-right">
        <span matTextPrefix>$</span>
        <mat-error *ngIf="f.practiceCost.errors?.['required']">
            *Required
        </mat-error>
        <mat-error *ngIf="f.practiceCost.errors?.['min']">
            Practice cost cannot be negative
        </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" floatLabel="always" class="number-field me-2 mb-3">
        <mat-label>Misc Expense</mat-label>
        <input matInput formControlName="miscExpense" type="number" class="number-right">
        <span matTextPrefix>$</span>
        <mat-error *ngIf="f.miscExpense.errors?.['required']">
            *Required
        </mat-error>
        <mat-error *ngIf="f.miscExpense.errors?.['min']">
            Misc expense cannot be negative
        </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" floatLabel="always" class="number-field mb-3">
        <mat-label>Misc Revenue</mat-label>
        <input matInput formControlName="miscRevenue" type="number" class="number-right">
        <span matTextPrefix>$</span>
        <mat-error *ngIf="f.miscRevenue.errors?.['required']">
            *Required
        </mat-error>
        <mat-error *ngIf="f.miscRevenue.errors?.['min']">
            Misc revenue cannot be negative
        </mat-error>
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button color="accent" (click)="close()">Cancel</button>
    <button mat-raised-button color="primary" [disabled]="!newPracticeForm.valid" (click)="onSubmit()">
        Save
    </button>
</mat-dialog-actions>