// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.
@import "~firebaseui/dist/firebaseui.css";

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$mat-primary: mat.define-palette(mat.$teal-palette);
$mat-accent: mat.define-palette(mat.$teal-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$mat-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$theme: mat.define-light-theme(
  (
    color: (
      primary: $mat-primary,
      accent: $mat-accent,
      warn: $mat-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.cell-right {
  text-align: right !important;
}

.mat-mdc-row:hover {
  background-color: lightgray !important;
  cursor: pointer !important;
}

.mat-mdc-footer-cell {
  font-weight: 600;
}

.sub-table tr {
  height: 32px !important;
}

.section-break {
  flex-basis: 100%;
  height: 0;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.breadcrumb {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  text-align: center;
  margin-right: 15px;
}

.info {
  display: inline-block;
  justify-content: center;
  align-items: flex-start;
}

.table-clear-float {
  clear: both;
}
